@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-con{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #181818;
  position: fixed;
  color: #fff;
  padding: .3em 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.39);
  z-index: 1;
  width: 95%;
  top: 10px;
  border-radius: 1em 1em 1em 1em;
}

.logo {
  display: block;
  max-width: 80%;
  height: 65px;
  object-fit: cover;
  margin-left: 2em;
}

.navbar-links{
  padding: 0 2rem; 
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
  font-size: 1.2rem;
}

.navbar-links li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #c27e00;
  display: block;
  margin: auto;
  transition: width 0.5s;
}

.navbar-links li:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.toggle-button {
  position: absolute;
  top: 1.8rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.landing-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.landing-content h1 {
  font-size: 6rem;
  margin-bottom: 30px;
}

.landing-btn a {
  background-color: #fff;
  border: none;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.4s ease-in-out;
}

.landing-btn:hover a {
  background-color: #000;
  color: #fff;
}

.verti-pill {
  background-color: #fff;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
  transition: all 0.4s ease-in-out;
  width: 4vh;
  height: 7vh;
  transform: translateY(100%);
}

.verti-pill-inner-circle {
  background-color: #000;
  border: none;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  width: 1.5vh;
  height: 1.5vh;
  animation: swipe 2s infinite forwards;
}

@keyframes swipe {
  0% {
    transform: translatey(0%);
    opacity: 0;
  }

  100% {
    transform: translatey(200%);
    opacity: 1;
  }
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5vh 0.2vh;
  text-align: center;
  gap: 2vh;

}

.about-container h1 {
  font-size: calc(2.3rem + 2.3vw);
  margin-bottom: 30px;
}

.about-container p {
  font-size: 1.5rem;
  margin-bottom: 1vh;
  width: 80%;
}

.services-container-left img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.services-container-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vh;
  text-align: center;
  overflow-x: hidden;
}

.services-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 4vh;
  text-align: start;
  padding-left: 4vh;
}

.services-content p {
  font-size: calc(0.6rem + 1vh);
  margin-bottom: 2rem;
  width: 80%;
}

.card-container {
  padding: 20px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  background-color: #cac9c9;
}

.card {
  width: 80%;
  background-color: #000000;
  color: #fff;
  box-shadow: 25px -10px 8px -10px rgba(0, 0, 0, 0.425);
}

.card img {
  width: 100%;
  height: 30%;
  object-fit: cover;
}

.card h1 {
  font-size: calc(1rem + 1vw);
  margin: 20px 20px;
}

.card h3 {
  font-size: calc(0.5rem + 0.5vw);
  margin: 20px 20px;
}

.progress-landing {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.progress-landing h1 {
  font-size: 2.6rem;
  margin-bottom: 30px;
  color: #fff;
}

.progress-landing p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #fff;
}

.progress-landing a {
  background-color: #fff;
  border: none;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.4s ease-in-out;
}

.progress-landing a:hover {
  background-color: #000;
  color: #fff;
}

.newsletter {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-image: url("./images/two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.newsletter h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

.newsletter input {
  width: 30vw;
  height: 5vh;
  border-radius: 16px;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  margin-bottom: 30px;
  outline: none;
}

.newsletter button {
  background-color: #fff;
  border: none;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.4s ease-in-out;
}

.newsletter button:hover {
  background-color: #3f3e3e;
  color: #fff;
}

.partners {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem;
  gap: 2rem;
}

.footer {
  background-color: #000;
  color: #fff;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem;
  gap: 2rem;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  margin: 20px 0;
  font-size: 20px;
}

.slider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.slide h1 {
  text-align: center;
  font-size: calc(3rem + 3vw);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  animation: slide 18s ease-in-out infinite;
  z-index: -1;
  top: 35%;
}

.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 20s infinite;
  display: flex;
  justify-content: center;
}

/* @keyframes slider {
  0%, 20%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  25% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  75% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
} */

/*.slider .slide {
  /* animation: slider 10s infinite; */

.slider .slide:nth-child(1) {
  animation-delay: 0s;
}

.slider .slide:nth-child(2) {
  animation-delay: 7.5s;
}

.slider {
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.slide h1 {
  position: absolute;
  z-index: 1;
}

.slide video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 1vh;
  background: rgb(224, 176, 0);
  background: linear-gradient(
    90deg,
    rgba(224, 176, 0, 1) 0%,
    rgba(224, 176, 0, 1) 48%,
    rgba(224, 176, 0, 1) 100%
  );
}

.services-content h1 {
  font-size: calc(1.3rem + 2.3vw);
  margin-right: 1vh;
  text-align: center;
}

@media screen and (max-width: 974px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }

}



.form-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;

}


@media screen and (max-width: 1070px) {
  .slider .slide h1 {
    font-size: calc(3rem + 3vw);
  }


  .slide h1 {
    font-size: calc(3rem + 3vw);
    top: 35vh;
    margin: 0 2vw;
  }

  .services-container-left {
    margin: 2rem 0;
  }

  .bar{
    height: 1px;
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
  }

  .services-container-left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .about-container p {
    font-size: 1rem;
    margin-bottom: 30px;
    width: 80%;
  }

  .about-container{
    border: 1px solid #bbbbbb;
    border-radius: 0 0 1em 1em;
    box-shadow: 0px 0px 72px -14px rgba(0,0,0,0.66);
  }

  .services-content p {
    text-align: center;
  }

  .services-content h1 {
    font-size: calc(1.5rem + 1.5vw);
    margin-right: 1vh;
    /* margin-bottom: 30px; */
  }

  .services-content P {
    font-size: calc(0.8rem + 0.8vw);
    margin-bottom: 2rem;
    width: 80%;
  }

  .services-content {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services-container-left:nth-child(3) {
    flex-direction: column-reverse;
  }

  .services-container-left:nth-child(4) {
    flex-direction: column;
  }

  .services-container-left:nth-child(5) {
    flex-direction: column-reverse;
  }

  .services-container-left:nth-child(6) {
    flex-direction: column;
  }

  .services-container-left:nth-child(7) {
    flex-direction: column-reverse;
  }

  .services-container-left:nth-child(8) {
    flex-direction: column;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1070px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    transition: all 1s ease-out;
  }

  body .dropdown:hover .dropdown-content {
    display: none;
  }
  

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    transition: all 1s ease-out;
  }

  .navbar-links ul {
    width: 100%;
    transition: all 1s ease-out;
    flex-direction: column;
    padding: 1rem 0;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }

    
  }



  .navbar {
    flex-direction: row;
    align-items: flex-start;
    transition: all 1s ease-out;
    
  }


  .logo.active {
    display: none;
  }

  .logo {
    object-fit: cover;
    margin-left: 1em;
    position: relative;
    transform: translateX(-15px)
  }


}

.scroll-watcher {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5vh;
  background-color: #c27e00;
  transform: scaleX(0);
  transform-origin: left;
  animation: scroll-watcher 5s linear forwards;
  z-index: 5;

}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.form-con{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .5rem 2rem;
  gap: 2rem;
  margin-top: 5rem;
  border-radius: 1rem;
  width: calc(32vw + 32vh);
  backdrop-filter: blur(15px);
  -webkit-box-shadow: 0px 0px 72px -14px rgba(0,0,0,0.66);
-moz-box-shadow: 0px 0px 72px -14px rgba(0,0,0,0.66);
box-shadow: 0px 0px 72px -14px rgba(0,0,0,0.66);
border: 1px solid rgba(255, 255, 255, 0.28);
  
}



.form h1{
  text-align: center;
  margin-bottom: 1rem;
  font-size:  calc(1.5rem + 1.5vw);
  color: #fff;
}

.form-main input{
  width: 100%;
  padding: calc(0.5rem + 0.5vw);
  border: 1px solid #aaaaaa;
  border-radius: 1rem;
  outline: none;

}
.form textarea{
  width: 100%;
  padding: calc(0.5rem + 0.5vw);
  margin-bottom: 1rem;
  border: 1px solid #aaaaaa;
  border-radius: 1rem;
  outline: none;
}

.form  button{
  width: 100%;
  padding: calc(0.5rem + 0.5vw);
  margin-bottom: 1rem;
  border: 1px solid #aaaaaa;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
}



.contactus{
  background-image: url("./images/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}

.dropbtn {
  color: white;
  cursor: pointer;
  font-size: 16px;
}





.dd-card{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
}

.dd-card:hover{
  background-color: #000;
  transition: all 0.4s ease-in-out;
}

.image-container{
  width: 100%;
}

.dd-card img{
  width: 100%;
  height: 25vh;
}

.dd-card h1{
  font-size: calc(1rem + 1vw);
  margin: 20px 20px;
  text-shadow: #363535 2px 2px 5px;
  
}

.dd-card h3{
  font-size: calc(0.5rem + 0.5vw);
  margin: 20px 20px;
  text-shadow: #363535 2px 2px 5px;
}

.dd-card a{
  padding: 15px 30px;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.4s ease-in-out;
  width: 10rem;
  text-shadow: #363535 2px 2px 5px;
  box-shadow: #363535 2px 2px 5px;
}

.dd-card a:hover{
  background-color: #fff;
  color: #000;
  text-shadow: #fff 2px 2px 5px;
  box-shadow: #fff 2px 2px 5px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  transform: translate(-60%, 8%);
  width: 80vw;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 1s ease-in-out;
  animation: dropdown .28s ease-in-out forwards;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-radius: 1rem;
}

@keyframes dropdown {
    0%{
      transform: translate(-60%, 8%);
      opacity: 0;
    }
    100%{
      transform: translate(-60%, 1%);
      opacity: 1;
    }
}

.bagpacking-container{
  background-image: url("./images/six.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.exp-con{
  width: 100%;
  padding: 15vh 0;
  display: grid;
  place-items: center;
  
  background-color: aliceblue;
  background-image: url("./images/form-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(15px);
}

.exp-cards{
  width: 45vh;
  padding: 0 0 2rem 0;
  border-radius: 1rem;
  border: 1px solid #b8b8b8;
  background-color: #1818187c;
  color: #fff;
  box-shadow: 20px 20px 11px -3px rgba(0,0,0,0.1),inset 20px 20px 11px -3px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(15px);
  
}

.exp-cards img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.exp-cards h1{
  font-size: calc(1.2rem + 1vw);
  margin: 20px 20px;
  transition: smooth 0.4s ease-in-out;
}

.exp-cards h3{
  font-size: calc(0.6rem + 0.5vw);
  margin: 20px 20px;
  transition: smooth 0.4s ease-in-out;
}

.exp-cards h1:hover{
  color: #db8f02;
}

.exp-cards h3:hover{
  color: #c27e00;
}

.exp-con{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  
}

.exp-cards a{
  padding: 15px 30px;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.4s ease-in-out;
  width: 10rem;
  color: #fff;
}

.exp-cards a:hover{
  background-color: #fff;
  color: #000;
}

.bagpacking-content-container{
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: #00000075;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

}

/* Path: src/App.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

input[type="radio"] {
  display: none;
}

.container {
  position: relative;
  height: 60vh;
  width: 100%;
  padding: 3rem;

}

.slide-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgb(53, 53, 53);
  overflow: hidden;
}


#slide-role {
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  z-index: 100;
  transition: left .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: flex;
}

.slide {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
}



.slide-1 {
  background-image: url("https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-2 {
  background-image: url("https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-3 {
  background-image: url("https://images.pexels.com/photos/448714/pexels-photo-448714.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-4 {
  background-image: url("https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}



.btn,
.btn::after {
  border-radius: 50%;
  transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.281);
  box-shadow: 0px 2px 2px rgba(56, 56, 56, 0.808);
  background-color: #00000000;
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 12%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1000;
}

.btn:nth-of-type(1) {
  left: 38%;
}

.btn:nth-of-type(2) {
  left: 45%;
}

.btn:nth-of-type(3) {
  left: 52%;
}

.btn:nth-of-type(4) {
  left: 59%;
}

.btn:hover {
  transform: scale(1.4);
}


.btn::after {
  content: "";
  display: inline-block;
  border: 1px solid white;
  background: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  margin: 3px 3px;
  transform: scale(.5, .5);
  box-shadow: 0px 1px 5px rgba(56, 56, 56, 0.822);
}



input[type="radio"]:checked#slide-2-trigger~div.slide-wrapper>div#slide-role {
  left: -100%;
}

input[type="radio"]:checked#slide-3-trigger~div.slide-wrapper>div#slide-role {
  left: -200%;
}

input[type="radio"]:checked#slide-4-trigger~div.slide-wrapper>div#slide-role {
  left: -300%;
}

/* button logic */

input[type="radio"]:checked+label.btn {
  transform: scale(1.2);
  border: 1px solid rgba(53, 53, 53, 0.308);
}

input[type="radio"]:checked+label.btn::after {
  transform: scale(1.1, 1.1);
  background: rgba(254, 255, 255, 0);
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 750px) {
  .bagpacking-content-container{
    flex-direction: column;
  }
  .bp-content{
    padding: 0rem;
  }
  
}

@media only screen and (max-width: 1446px) {
  .slide-wrapper {
      width: 80%;
      height: 100%;
      padding: 1rem;
  }

  .container{
    padding-top: 12vh;
    padding-left: 0;
    margin: 0;
  }

  .bagpacking-content-container{
    flex-direction: column;
  }
  .btn:nth-of-type(1) {
      left: 93%;
      bottom: 60%;
  }
  .btn:nth-of-type(2) {
      left: 93%;
      bottom: 50%;
  }
  .btn:nth-of-type(3) {
      left: 93%;
      bottom: 40%;
  }
  .btn:nth-of-type(4) {
      left: 93%;
      bottom: 30%;
  }
}

@media only screen and (max-width: 1446px) {

  .btn:nth-of-type(1) {
      left: 90%;
  }
  .btn:nth-of-type(2) {
      left: 90%;
  }
  .btn:nth-of-type(3) {
      left: 90%;
  }
  .btn:nth-of-type(4) {
      left: 90%;
  }
}

.bp-content{
  padding: 0 1.5rem 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.bp-content h1{
  font-size: calc(1.5rem + 1.5vw);
  margin-bottom: 30px;
}

.bp-content p{
  font-size: calc(0.5rem + 0.5vw);
  margin-bottom: 20px;
  width: 80%;
}

.bp-content h3{
  font-size: calc(0.6rem + 0.6vw);
  margin-bottom: 30px;
}

.bp-content a{
  background-color: #fff;
  border: none;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.4s ease-in-out;
  width: 10rem;
}

.bp-content a:hover{
  background-color: #000;
  color: #fff;
}